/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
:focus,a:focus{
  outline: 0;
}
*:focus,a,a:hover,a:focus{
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms 0s ease;
  border: 0;
  outline: 0;
  cursor: pointer;
}
svg:not(:root) {
  overflow: hidden;
}
svg {
  overflow: visible;
  display: inline-block;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: fill 300ms 0s ease, stroke 300ms 0s ease, transform 300ms 0s ease, opacity 300ms 0s ease;
}
:root{
  font: 16px/1.5 'Open Sans',sans-serif;
   text-rendering: optimizeLegibility;
   box-sizing: border-box;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
@font-face {
    font-family: 'collatorregular';
    src: url('../font/collator-webfont.woff2') format('woff2'),
         url('../font/collator-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
	position: relative;
  font-weight: 400;
  padding-top: 70px;
  color: #717f86;
  background-color: #f6f9fa;
}
.grid{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.pages-section{
  padding: 40px 40px;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: #f6f9fa;
}
.page-section__heading{
  text-align: center;
  color: #384047;
  font-size: 28px;
  font-style: normal;
  line-height: 1.4;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: 'collatorregular', Lato,sans-serif;
  text-rendering: optimizeLegibility;
}
.page-section__heading::after {
  content: " ";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #000;
  margin: 10px auto 0;
}
.lead {
  color: #717f86;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
}

.navbar{
  min-height: 70px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  z-index: 1;
  box-shadow: 0 3px 10px 0 rgba(50,50,50,0.08);
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 0 76px;

}
.navbar h1.logo {
    text-indent: -9999px;
    width: 283px;
    height: 64px;
    background: transparent url(../image/logo.png) no-repeat center center;
    margin-top: 3px;
    float: left;
    background-size: cover;
}
.menu-container{
    position: absolute;
    right: 56px;
    top: 23px;
}
.navbar li {
  display: inline-block;
}
.navbar li a{
  font-weight: 400;
  line-height: 1.4;
  border-bottom: 1px solid transparent;
  color: #9e9f9e;
  padding: 10px;
  font-size: 14px;
}
.navbar li:hover a,
.navbar li:focus a,
.navbar li.active a{
  color: #3e3f3d;
  border-bottom-color: #000;
}
#banner{
  height: calc(100vh - 70px);
  background-color: #232323;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.banner-contnet{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 70px);
}
.intro{
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}
.intro-trigger{
  background: #ececec;
  border: 1px solid #ececec;
  padding: 10px 15px;
  color: #000;
}
.intro-trigger:hover,
.intro-trigger:focus{
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}
.one span, .two span, .three span, .four span, .five span, .six span{
  background-repeat: no-repeat;
  background-position: center;
  width: 260px;
  height: 260px;
  display: block;
  background-size: contain;
}
.one span{
      transform: translate3d( 0vw, -10vh, 50px);
      background-image: url('../image/banner/designer.png');

}
.two span{
     transform: translate3d(10vw, 30vh, 50px);
      background-image: url('../image/banner/strategist.png');
}
.three span{
      transform: translate3d( 60vw, -10vh, 200vh);
      background-image: url('../image/banner/art-director.png');
}
.four span{
     transform: translate3d( 40vw, -10vh, 200vh);
      background-image: url('../image/banner/client-servicing.png');
}
.five span{
     transform: translate3d( 50vw, 30vh, 5vh);
      background-image: url('../image/banner/sales.png');

}
.six span{
     transform: translate3d( 20vw, 10vh, -50px);
      background-image: url('../image/banner/social.png');

}
/* working */
#working .page-section__heading{
  color: #000;
}
#working .page-section__heading:after{
  background: #000;
}
iframe{
  width: 640px;
  height: 360px;
}
/* mission */
#mission{
  background-color: #000;
}
#mission .page-section__heading,
#mission .lead{
  color: #fff;
}
#mission .page-section__heading::after{
  background: #fff;
}
/* opening */
#opening{
  background-color: #eee;
}
#opening article{
  width: calc(100% / 12 * 4 - 40px);
  margin: 20px 20px;
  float: left;
  position: relative;
  min-height: 1px;
}
.job-card{
  background: white;
  border-radius: 8px;
  margin: 10px auto;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
  padding: 10px 25px;
  position: static;
}
.job-card h4{
   font-size: 20px;
  font-weight: 500;
  color: #384047;
  font-style: normal;
  line-height: 1.4;
  margin-bottom: 15px;
  margin-top: 15px;
  text-rendering: optimizeLegibility;
}
.job-card .job-lead{
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
/* apply now button */
.job-action{
  display: block;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.apply-trigger{
  float: left;
}
.apply-btn{
  display: block;
  color: #717f86;
  padding: 10px 10px;
  border: 1px solid #ececec;
  background-color: #ececec;
}
.apply-btn:hover,
.apply-btn:focus{
  border: 1px solid #000;
  color: #000;
  background-color: transparent;

}
.apply-share{
  overflow: hidden;
  float: right;
  position: relative;
}
.share{
  width: 40px;
  height: 40px;
  border: 0px;
  background-color: transparent;
  float: right;
  cursor: pointer;
}

.social-bar{
  display: none;
}
.apply-share.active .social-bar{
  display: block;
  float: left;
  margin-top: 6px;
  width: 152px;
  height: 22px;
  float: left;
}
.social-bar li a{
  width: 28px;
  height: 28px;
  display: block;
}
.social-bar li{
  text-indent: -9999px;
  display: inline-block;
  margin: 0px;
  width: 30px;
  height: 30px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url(../image/share-icon-black.png);
  cursor: pointer;
}
.social-bar li:hover{
  background-image:url(../image/share-icon-active.png);
}
.social-bar li.facebook{
  background-position: -3px 0px;
}
.social-bar li.google{
  background-position: -80px 0px;
}
.social-bar li.twitter{
 background-position: -80px 0px;
}
.social-bar li.linkedin{
  background-position: -114px 0px;
}
.social-bar li.whatsup{
  background-position: -150px 0px;
}

/* footer */
footer{
  padding: 10px;
  margin: 0;
  background: #000;
  text-align: center;
  overflow: hidden;
  display: block;
  text-align: center;
  font: normal 13px/normal 'Open Sans',sans-serif;
  color: #a8a8a8;
}
.social-link{
  margin-top: 10px;
}
.social-icon li{
  display: inline-block;
  margin:0 3px;
  text-indent: -9999px;
  display: inline-block;
  margin: 0 10px;
  width: 30px;
  height: 30px; 
   background-repeat: no-repeat;
  background-size: 276px;
  background-color: transparent;
  background-image:url(../image/social-icon.png);
  cursor: pointer;
}
.social-icon li a{
  display: block;
}
.social-icon li:hover{
  background-image:url(../image/social-icon-active.png);
}
.social-icon li.facebook{
  background-position: 6px 5px;
}
.social-icon li.google{
  background-position: -26px 5px;
}
.social-icon li.twitter{
 background-position: -59px 5px;
}
.social-icon li.behance{
  background-position: -91px 5px;
}
.social-icon li.youtube{
 background-position: -124px 5px;
}
.social-icon li.medium{
  background-position: -156px 5px;
}
.social-icon li.instagram{
  background-position: -189px 5px;
}
.social-icon li.linkedin{
  background-position: -220px 5px;
}
.social-icon li.pinterest{
  background-position: -254px 5px;
}

/* inner page */
.job-description{
  padding: 80px 40px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}
.job-headline h3{
  color: #384047;
  font-size: 28px;
  line-height: 1.4;
  margin: 0 0 20px 0;
  font-family: 'collatorregular', Lato, sans-serif;
  text-rendering: optimizeLegibility;
}

.job-description_title{
  font-size: 18px;
  color: #576366;
  font-weight: 500;
  line-height: 1.3;
  font-family: "Lato", sans-serif;
  margin-bottom: 15px;

}
.job-description ul{
  color: #576366;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}
#messageBox{
  margin-top: 10px;
}
#messageBox li.checked{
  display: none;
  list-style: none;
}
.job-description li{
  list-style: disc;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #576366;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
  font-family: 'Open Sans',sans-serif;
}
/* form */
.form-group {
    width: calc(100% / 12 * 6 - 15px);
    float: left;
}
.form-group:after,
.form-group:before{
  clear: " ";
  display: block;
}

input {
  background: none;
  border: 0px;
  border-bottom: solid 1px #717f86;
  color: #717f86;
  padding: 10px 0px;
  font-size: 14px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

input:focus, input:active {
  outline: none;
  border-bottom: solid 1px #717f86;
  padding-bottom: 5px;
}
input[type="file"]:focus,
input[type="file"]:active,
input[type="file"]{
  border: 0;
}

p.help-block {
    font-size: 12px;
}
.button{
    position: relative;
    background: #ececec;
    border: 1px solid #ececec;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    color: #717f86;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 1;
}
.button:hover,
.button:focus{
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}
.input-group {
  margin-right: 20px;
  position: relative;
}
.input-group input {
    padding: 15px 10px 5px;
    width: calc(100% / 12 * 12 - 30px);
    margin: 10px 0 10px 0;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #999;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
.input-group input:focus + label,
.input-group input.has-value + label {
  top: 16px;
  font-size: 12px;
  color: #aaa;
}
.error-container{
  width: 100%;
  overflow: hidden;
}

.thankyou-container,
.logincontainer{
  width: calc(100% - 20%);
  margin: 5% 10%;
  padding: 10%;
  background-color: #fff;
}
#messageBox li{
  color: #ff0000;
}
.error{
  color: #ff0000;
}
.burger-icon{
  display: none;
}


@media(max-width: 900px){
   #opening article{
    width: calc(100% / 12 * 6 - 40px);
  }
  .navbar{
    padding: 0 20px;
  }
  .menu-container{
    right: 20px;
  }
}
@media(max-width: 768px){
  .navbar h1.logo {
    width: 200px;
    background-size: contain;
  }
  .navbar li a{
    font-size: 13px;
    padding: 10px;
  }
  iframe{
    width: 100%;
  }
  .page-section__heading,
  .job-headline h3{
    font-size: 20px;
    margin: 0px auto;
  }
  .job-card h4,
  .job-description_title{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .lead,
  .job-description li{
    font-size: 14px;
    margin-bottom: 10px;
  }
  .job-card .job-lead{
    margin-bottom: 0px;
    font-size: 14px;
  }
  .job-description ul{
    margin-left: 5px;
  }
  .apply-btn{
    font-size: 14px;
  }
  #opening article{
    width: calc(100% / 12 * 12 - 0px);
    margin: 0;
  }
  .social-icon li{
    margin: 0 ;
  }
}
@media(max-width: 650px){
  #scene .layer{
    width: 250px;
  }
  .one span, .two span, .three span, .four span, .five span, .six span{
    background-size: contain;
    width: 150px;
    height: 150px;
  }
  body.active{
    overflow: hidden;
    padding-top: 0;
  }
  .navbar.navbar-default.active{
      position: static;
  }
.burger-icon{
  display: block;
  position: relative;
}
.burger-menu,
.burger-menu:after,
.burger-menu:before{
  position: fixed;
  margin: 0 auto;
  top: 38px;
  right: 20px;
  width: 16px;
  height: 1px;
  border-radius: 5px;
  background-color: #000;
   -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  z-index: 15;
}
.burger-menu:after{
  content: " ";
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
}
.burger-menu:before{
  content: " ";
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
}
.burger-menu.active{
  background: transparent;
  -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}
.burger-menu.active:before{
      -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  top: 0;
}
.burger-menu.active:after{
      -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  top: 0;
}
.menu-container{
  height: 100vh;
  width: 240px;
  position: static;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
  border-left: 1px solid #efefef;
}
.menu-container.active .menu-list{
  position: relative;
  top: 50px;
}
.menu-container.active{
  visibility: visible;
  opacity: 1;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}
.navbar li{
  display: block;
  position: static;
  padding: 15px 22px;
  font-size: 12px;
}
.navbar li a{
  padding: 0;
}

}
@media(max-width: 500px){
  #scene .layer{
    width: 150px;
  }
  .one span, .two span, .three span, .four span, .five span, .six span{
    background-size: contain;
    width: 100px;
    height: 100px;
  }
  .one span{
    transform: translate3d( 0vw, -1vh, 10px);
  }
  .two span{
    transform: translate3d( 6vw, 31vh, 50px);
    width: 150px;
    height: 150px;
  }
  .three span{
    transform: translate3d( 20vw, 10vh, 200vh);
  }
  .four span{
    transform: translate3d( 52vw, 8vh, 5vh);
  }
  .five span{
    transform: translate3d( 54vw, 65vh, 5vh);
  }
  .six span{
    transform: translate3d( 56vw, 33vh, 00px);
  }
  .form-radio, .form-group{
    width: calc(100% / 12 * 12 - 0px)
  }
  .input-group {
    margin-right: 0px;
  }
  #messageBox {
    margin-left: 10px;
  }
}
@media(max-width: 425px){
  .pages-section,
  .job-description{
    padding: 20px 20px;
  }
  .job-card{
    padding: 10px;
  }
  .job-action{
    margin-bottom: 5px;
  }
}